:root {
    --blue1: lightblue;
    --blue2: cornflowerblue;
    --blue3: rgba(0, 0, 255, 0.3);
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: sans-serif;
}

.page {
    width: 100%;
    height: 100%;
    display: none;
    grid-template-rows: auto auto auto auto 100px;
    grid-template-columns: 1fr 1fr 0.5fr;
    grid-template-areas: "main main side"
                         "main main side"
                         "main main side"
                         "bar bar side"
                         "breaking breaking side";
}

.page.active {
    display: grid;
}

/*** MAIN ***/

#main {
    grid-area: main;
}

/*** SIDE ***/

#side {
    grid-area: side;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 15px;
    padding-left: 0;
}

#side .tweet {
    width: 100%;
    min-height: 50px;
    background-color: var(--blue1);
    padding: 10px;
    color: white;
    margin-bottom: 15px;
}

#side .tweet p,
#side .tweet span {
    display: inline;
}

#side .tweet .username {
    color: black;
}

#side .tweet .datetime {
    float: right;
}

/*** BAR ***/

#bar {
    grid-area: bar;
    display: flex;
    flex-direction: column;
}

#bar .option {
    position: relative;
    flex-grow: 1;
    margin: 5px 25px;
    display: grid;
    grid-template-areas: "text button1 button2";
    grid-template-columns: 60% 20% 20%;
}

#bar .option span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 2rem;
    color: white;
    text-shadow: 0 0 1px black;
}

#bar .option_text {
    grid-area: text;
    padding: 25px;
}

#bar .option:nth-child(1) {
    background-color: var(--blue1);
}

#bar .option:nth-child(2) {
    background-color: var(--blue2);
}

#bar .option:nth-child(3) {
    background-color: var(--blue3);
}

#bar button {
    margin: 10px;
}

/*** BREAKING ***/

#breaking {
    grid-area: breaking;
    position: relative;
    padding: 25px;
}

#breaking #news {
    color: white;
    background-color: red;
    text-transform: uppercase;
    padding: 17px;
    padding-left: 115px;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-areas: "prefix text";
}

#breaking #news div {
    float: left;
    overflow: hidden;
}

#breaking #news div.scroll {
    padding-left: 15px;
}

#breaking_news_prefix {
    font-weight: bold;
    grid-area: prefix;
}

#breaking #breaking_news_text {
    margin-left: 20px;
    white-space: nowrap;
    grid-area: text;
}

#breaking #breaking_news_text p {
    margin: 0;
}

#breaking #clock {
    background-color: white;
    color: black;
    border: 5px solid red;
    width: 100px;
    position: absolute;
    height: 50px;
    text-align: center;
    padding: 12px;
}

/*** ANIMATIONS ***/

.scroll {
    animation: scroll-text 15s linear infinite;
    position: relative;
    display: inline-block;
}

@keyframes scroll-text {
    0% {transform: translateX(85%);}
    100% {transform: translateX(-120%);}
}

.blink {
    animation: blink 1s linear infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}
