/*** GRID ***/

.page.two-halves {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "main side";
}

#setup {
    grid-area: main;
    margin: 25px;
    overflow: hidden;
}

#rules {
    grid-area: side;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 25px;
    padding-left: 0;
}

/*** CONTENT ***/

.explanation {
    padding-bottom: 15px;
    font-weight: bold;
}

.politicians {
    border: 1px solid blue;
}

.politician {
    border: 1px solid blue;
    margin: 20px;
    padding: 5px;
    min-height: 70px;
}

.politician.template {
    display: none;
}

img.portrait {
    float: left;
    height: 60px;
}